// colors of project 

// Brand Colors

// Brand Colors
$primary-normal: #FF6C0E;
$primary-dark: #DB5500;
$primary-light: #FD863C;

$secondary-normal: #013342;
$secondary-dark: #001B23;
$secondary-light: #224F5C;

// Neutral-colors
$black-normal: #1D1D1F;
$black-dark: #313133;
$black-light: #353436;

$white-normal: #FFF8F3;
$white-dark: #D5D3D0;
$white-light: #FFFFFF;

// Gray scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

// Auxiliary colors

$red-normal: #EB3D3D;
$red-dark: #D03333;
$red-light: #F05454;

$green-normal:#32D957;
$green-dark: #28BB49;
$green-light: #50E170;

$yellow-normal: #FFCE52;
$yellow-dark: #D9B043;
$yellow-light: #FFD76B;