.modal-email-content{
  max-width: 100%;
  height: auto;

  padding: 16px 18px;


  @include responsive(m){
    width: 100%;
  }
  @include responsive(s){
    width: 100%;
  }
}
.modal-email{
  padding: 16px 24px;
}

.formulario {
    margin: 0 auto;
    max-width: 400px;
}
.form-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.form-name label {
    margin-bottom: 8px;
}
.form-name input {
    padding: 12px 16px;
    
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #DB5500;
}
.form-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.form-email label {
    margin-bottom: 8px;
}
.form-email input {
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #DB5500;
}
.form-projeto{
    display: flex;
    flex-direction: column;
}
.form-projeto label {
    margin-bottom: 8px;
}
.form-projeto textarea {
    display: block;
    padding: 12px 16px;
    height: 125px;
    margin-left: 4;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #DB5500;
    margin-bottom: 32px;
}
.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  border-radius: 16px;
  width: 200px;
  height: 54px;

  font-size: 16px;
  color: #F8F7FA;
  border: 1px solid #F8F7FA;

  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.78) 14.08%, rgba(255, 108, 14, 0.63) 88.89%);
  box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);


  position: relative;
  cursor: pointer;
  transition: .7s ease-in-out;
}
.btn-submit:hover{
  transform: scale(1.05);
}
.btn-submit::after{
  opacity: 1;
}
  