
.footer-container {
    background-color: $secondary-normal;
    padding: 2rem 2rem;
  }
    
  .footer {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center; 
    p {
      color: $white-normal;
      font-weight: normal;
      font-size: 18px;
    }
    @include responsive(m){
      justify-content: center;
    }
    @include responsive(s){
      justify-content: center;
    }
    .footer-heading {
        @include responsive(m){
          display: none;
        }
        @include responsive(s){
          display: none;
        }
    }
  }
  .footer-redes {
    max-width: 1200px;
    margin: 0 auto;

    img {
      margin-top: 2rem;
    }
    .redes-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .redes {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        margin-bottom: 2rem;
      }

      a:nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
  .up {
    p {
      color: $white-normal;
    }
  }
  