// Layout of project [responsive]

// Container devices

$container-xl: 1200px; // Desktop 
$container-l: 960px; // Tablet
$container-m: 720px; // Mobile
$container-s: 540px; // Mobile small

// Mixins of media query

@mixin responsive($device){ // dispositivo 
    @if $device == xl{
        // For resolutions upper than 1440px
        @media screen and (min-width: $container-xl){
            @content;
        }
    }
    
    @else if $device == l {
        // For resolutions between 1140px(piso) and 1440px(teto)
        @media screen and (max-width: $container-xl) and (min-width: $container-l){
            @content;
        }
    }
    
    @else if $device == m {
        // For resolutions between 960px(piso) and 1140px(teto)
        @media screen and (max-width: $container-l) and (min-width: $container-m){
            @content;
        }
    }

    @else if $device == s {
        // For resolutions less than 960px [Abaixo de 960px]
        @media screen and (max-width: $container-m){
            @content;
        }
    }

    @else if $device == xs {
        // For resolutions less than 540px [Abaixo de 540px]
        @media screen and (max-width: $container-s){
            @content;
        }
    }

}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-item-1{
    flex: 1 1 360px;
}
.flex-item-2{
    flex: 2 1 360px;
}
.flex-item-3{
    flex: 3 1 360px;
}
.flex-item-4{
    flex: 4 1 360px;
}
.flex-item-5{
    flex: 5 1 360px;
}
.flex-item-auto{
    flex: 2 1 auto;
}
.w-auto {
    width: auto;
}
.w-100 {
    width: 100%;
}
.w-75 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.hidden{
    overflow: hidden;
}

.container {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 3rem 1rem;

    justify-content: space-between;
    align-items: center;
    text-align: center;

    h1 {
        color: $secondary-light;
        font-size: 96px;
        font-weight: 500;
        padding: 1rem 1rem;

        @include responsive(m){
            font-size: 48px;
        }
        @include responsive(s){
            font-size: 48px;
        }
    }
    p {
        color: $gray-4;
        font-size: 24px;
        padding: 1rem 1rem;
        font-weight: 400;

        @include responsive(m){
            font-size: 18px;
        }
        @include responsive(s){
            font-size: 18px;
        }
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-primary {
        width: 200px;
        height: 54px;

        margin: 1rem;

        background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.78) 14.08%, rgba(255, 108, 14, 0.63) 88.89%);
        color: $white-normal;

        border: 0;
        border-radius: 16px; 
    }
    .btn-secundary{
        width: 200px;
        height: 54px;

        color: #454446;
        background: transparent;
        border: 2px solid #D5D3D0;
        border-radius: 16px; 
            
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-left: .5rem;
            width: auto;
        }
    }
}
.bg-hero {
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: absolute;
    z-index: -1;


}
.svg-bg-home {
    width: 100%;

    @include responsive(xl){
        width: 100%;
    }
}
// SECTION TOPICS
.items-topics {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive(m){
        flex-direction: column;
    }
    @include responsive(s){
        flex-direction: column;
    }

    .item-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin-bottom: 1rem;
            width: 140px;
            height: 140px;
        }
        h1 {
            font-weight: 400;
            color: $secondary-normal;
            letter-spacing: 0.05em;
            line-height: 120%;
        }
        p {
            font-weight: 400;
            color: $gray-2;
            font-size: 16px;
            line-height: 150%;
        }
    }
}
// SECTION BUSINESS
.container-business {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    h1 {
        color: $secondary-light;
        margin-bottom: 1rem;
    }
    .business {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 2rem;
    }
    img {
        width: 100px;
        height: 100px;
    }
}
/* SECTION PEOPLE */
.container-people {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    
    display: flex;
    @include responsive(m){
        flex-direction: column;
    }
    @include responsive(s){
        flex-direction: column;
    }
}
.p-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    h5{
        font-weight: bold;
        font-size: 24px;
        line-height: 110%;
    }
    h2 {
        color: $secondary-light;
        line-height: 110%;
        font-weight: bold;
    }
    .itens-universal {
        list-style: none;
        display: flex;
        align-items: center;
        img {
            width: auto;
            padding: 1rem 1rem;
        }
    }
}

.p-item-3 {
    #people2 {
        margin-bottom: 1rem;
    }
}
.container-evolution {
    max-width: 1200px;
    margin: 0 auto;

    .box-t-p {
        text-align: center;

        h1 {
            color: $secondary-light;
            line-height: 110%;
            font-weight: bold;
    
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: .7rem;
        }
    } 
}
.cards-e-item-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(m){
        flex-direction: column;
        padding: 24px 36px;
        .division {
            display: none;
        }
        .division-1 {
            display: flex;
        }
    }
    @include responsive(s){
        flex-direction: column;
        padding: 12px 18px;
        .division {
            display: none;
        }
        .division-1 {
            display: flex;
        }
    }
}
.division-1 {
    display: none;
    width: 300px;
    margin-bottom: 1rem;
}
.card-1 {
    max-width: 540px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px 2px rgba(255, 108, 14, 0.05);
    border-radius: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 64px 36px;
    margin-bottom: 1rem;

    @include responsive(m){
        
    }
    @include responsive(s){
        
    }

    .text-e {
        margin-left: 1rem;
    }
    img {
        width: 100px;
        height: 120px;
    }
}
.division {
    width: auto;
}
.card-1-pc {
    max-width: 540px;
    margin: 0 auto;

    background: #FFFFFF;

    box-shadow: 0px 4px 12px 2px rgba(255, 108, 14, 0.05);
    border-radius: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 64px 36px;

    .text-e {
        margin-left: 1rem;
    }
    img {
        width: 100px;
        height: 120px;
    }
}
.cards-item-2 {
    
    @include responsive(m){
        padding: 24px 36px;
    }
    @include responsive(s){
        padding: 12px 18px;
    }
}

