  .modal-l {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-content-l {
    background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    
    width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;
  }
  
  .modal-img-l {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-img-l img {
    max-width: 100px;
    display: flex;
    margin: 20px;
  }
  
  .modal-name-l {
    align-self: center;
  }
  
  .modal-text-l p{
    padding: 16px 24px;
    margin: 0 auto;

    font-weight: 500;
    color: #474749;
  }

  .modal-links-l{
  border-radius: 0px 0px 16px 16px;
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.078) 14.08%, rgba(255, 108, 14, 0.063) 88.89%);

    img {
      padding: 0rem 2rem;
    }

    a{
      transition: 1s ease;
    }
    a:hover{
      transform: scale(1.05);
    }
  }

  .close {
    color: #aaa;
    display: flex;
    align-self: baseline;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal-content-l {
      width: 325px;
      height: 475px;
      margin: 30% auto;
    }


  }

  .modal-a {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-content-a {
    background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    
    width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;
  }
  
  .modal-img-a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-img-a img {
    max-width: 100px;
    display: flex;
    margin: 20px;
  }
  
  .modal-name-a {
    align-self: center;
  }
  
  .modal-text-a p{
    padding: 16px 24px;
    margin: 0 auto;

    font-weight: 500;
    color: #474749;
  }
  .modal-links-a {
  border-radius: 0px 0px 16px 16px;
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.078) 14.08%, rgba(255, 108, 14, 0.063) 88.89%);

    img {
      padding: 0rem 2rem;
    }

    a{
      transition: 1s ease;
    }
    a:hover{
      transform: scale(1.05);
    }
  }

  .close-a {
    color: #aaa;
    display: flex;
    align-self: baseline;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .close-a:hover, .close-a:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal-content-a {
      width: 325px;
      height: 475px;
      margin: 30% auto;
    }
  }

  .modal-m {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-content-m {
    background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    
    width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;
  }
  
  .modal-img-m {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-img-m img {
    max-width: 100px;
    display: flex;
    margin: 20px;
  }
  
  .modal-name-m {
    align-self: center;
  }
  
  .modal-text-m p{
    padding: 16px 24px;
    margin: 0 auto;

    font-weight: 500;
    color: #474749;
  }
  .modal-links-m {
  border-radius: 0px 0px 16px 16px;
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.078) 14.08%, rgba(255, 108, 14, 0.063) 88.89%);

    img {
      padding: 0rem 2rem;
    }

    a{
      transition: 1s ease;
    }
    a:hover{
      transform: scale(1.05);
    }
  }

  .close-m {
    color: #aaa;
    display: flex;
    align-self: baseline;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .close-m:hover, .close-m:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal-content-m {
      width: 325px;
      height: 475px;
      margin: 30% auto;
    }
  }

  .modal-g {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-content-g {
    background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    
    width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;
  }
  
  .modal-img-g {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-img-g img {
    max-width: 100px;
    display: flex;
    margin: 20px;
  }
  
  .modal-name-g {
    align-self: center;
  }
  
  .modal-text-g p{
    padding: 16px 24px;
    margin: 0 auto;

    font-weight: 500;
    color: #474749;
  }
  .modal-links-g {
  border-radius: 0px 0px 16px 16px;
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.078) 14.08%, rgba(255, 108, 14, 0.063) 88.89%);

    img {
      padding: 0rem 2rem;
    }

    a{
      transition: 1s ease;
    }
    a:hover{
      transform: scale(1.05);
    }
  }

  .close-g {
    color: #aaa;
    display: flex;
    align-self: baseline;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .close-g:hover, .close-g:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal-content-g {
      width: 325px;
      height: 475px;
      margin: 30% auto;
    }
  }

  .modal-r {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-content-r {
    background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    
    width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;
  }
  
  .modal-img-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-img-r img {
    max-width: 100px;
    display: flex;
    margin: 20px;
  }
  
  .modal-name-r {
    align-self: center;
  }
  
  .modal-text-r p{
    padding: 16px 24px;
    margin: 0 auto;

    font-weight: 500;
    color: #474749;
  }

  .modal-links-r{
  border-radius: 0px 0px 16px 16px;
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.078) 14.08%, rgba(255, 108, 14, 0.063) 88.89%);

    img {
      padding: 0rem 2rem;
    }

    a{
      transition: 1s ease;
    }
    a:hover{
      transform: scale(1.05);
    }
  }

  .close-r {
    color: #aaa;
    display: flex;
    align-self: baseline;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .close-r:hover, .close-r:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal-content-r {
      width: 325px;
      height: 475px;
      margin: 30% auto;
    }


  }

  .modal-x {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-content-x {
    background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    
    width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;
  }
  
  .modal-img-x {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-img-x img {
    max-width: 100px;
    display: flex;
    margin: 20px;
  }
  
  .modal-name-x {
    align-self: center;
  }
  
  .modal-text-x p{
    padding: 16px 24px;
    margin: 0 auto;

    font-weight: 500;
    color: #474749;
  }

  .modal-links-x{
  border-radius: 0px 0px 16px 16px;
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.078) 14.08%, rgba(255, 108, 14, 0.063) 88.89%);

    img {
      padding: 0rem 2rem;
    }

    a{
      transition: 1s ease;
    }
    a:hover{
      transform: scale(1.05);
    }
  }

  .close-x {
    color: #aaa;
    display: flex;
    align-self: baseline;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .close-x:hover, .close-x:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal-content-x {
      width: 325px;
      height: 475px;
      margin: 30% auto;
    }


  }

  .modal-j {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-content-j {
    background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    
    width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;
  }
  
  .modal-img-j {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-img-j img {
    max-width: 100px;
    display: flex;
    margin: 20px;
  }
  
  .modal-name-j {
    align-self: center;
  }
  
  .modal-text-j p{
    padding: 16px 24px;
    margin: 0 auto;

    font-weight: 500;
    color: #474749;
  }

  .modal-links-j{
  border-radius: 0px 0px 16px 16px;
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.078) 14.08%, rgba(255, 108, 14, 0.063) 88.89%);

    img {
      padding: 0rem 2rem;
    }

    a{
      transition: 1s ease;
    }
    a:hover{
      transform: scale(1.05);
    }
  }

  .close-j {
    color: #aaa;
    display: flex;
    align-self: baseline;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .close-j:hover, .close-j:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal-content-j {
      width: 325px;
      height: 475px;
      margin: 30% auto;
    }


  }
  // MODAL SEJA NOSSO PARCEIRO ( EMAIL MODAL )

  .modal-email {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;
  }
  
  .modal-email-content {
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    margin: 4% auto;
    width: 600px;
    height: 450px;
    border-radius: 16px;
    position: relative;
    align-items: center;
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .gradiente {
    $border: 1px;
    border: solid $border solid;
    border-radius: 16px;

    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to left, #FD863C,#DB5500) 0 1 100%;

    &:before {
      content: " ";
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(180deg, #ff6a0ef6 0%, rgba(255, 99, 0, 0) 60%);
    }
  }

  .close-email {
    color: #aaa;
    display: flex;
    align-self: baseline;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
  }
  
  .close-email:hover, .close-email:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

// Trajetoria da evolução modais

.controle-modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0); 
    background-color: #fff8f3cc;

    padding: 24px 32px;
}

.controle-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    padding: 24px 36px;
    max-width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;

    h4 {
      margin-bottom: 32px;
    }
}

.close-controle {
  color: #aaa;
  display: flex;
  align-self: baseline;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.close-controle:hover, .close-controle:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mecanica-modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: none; 
  background-color: rgb(0,0,0); 
  background-color: #fff8f3cc;
  padding: 24px 32px;
}

.mecanica-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    padding: 24px 36px;
    max-width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;

    h4 {
      margin-bottom: 32px;
    }
}

.close-mecanica {
  color: #aaa;
  display: flex;
  align-self: baseline;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.close-mecanica:hover, .close-mecanica:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.eletronica-modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: none; 
  background-color: rgb(0,0,0); 
  background-color: #fff8f3cc;
  padding: 24px 32px;
}

.eletronica-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    padding: 24px 36px;
    max-width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;

    h4 {
      margin-bottom: 32px;
    }
}

.close-eletronica {
  color: #aaa;
  display: flex;
  align-self: baseline;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.close-eletronica:hover, .close-eletronica:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.design-modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: none; 
  background-color: rgb(0,0,0); 
  background-color: #fff8f3cc;
  padding: 24px 32px;
 
}

.design-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    padding: 24px 36px;
    max-width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;

    h4 {
      margin-bottom: 32px;
    }
}

.close-design {
  color: #aaa;
  display: flex;
  align-self: baseline;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.close-design:hover, .close-design:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.programacao-modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: none; 
  background-color: rgb(0,0,0); 
  background-color: #fff8f3cc;
  padding: 24px 32px;
  
}

.programacao-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    padding: 24px 36px;
    max-width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;

    h4 {
      margin-bottom: 32px;
    }
}

.close-programacao {
  color: #aaa;
  display: flex;
  align-self: baseline;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.close-programacao:hover, .close-programacao:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sustentabilidade-modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: none; 
  background-color: rgb(0,0,0); 
  background-color: #fff8f3cc;
  padding: 24px 32px;
  
}

.sustentabilidade-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFF8F3;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    
    margin: 10% auto; /* 15% from the top and centered */
    padding: 24px 36px;
    max-width: 450px;
    height: 350px;
    
    border-radius: 16px;

    position: relative;

    h4 {
      margin-bottom: 32px;
    }
}

.close-sustentabilidade {
  color: #aaa;
  display: flex;
  align-self: baseline;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.close-sustentabilidade:hover, .close-sustentabilidade:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.trajetoria-modal-text h4{
  text-align: center;
}

.trajetoria-modal-text {
  text-align: center;
  padding: 16px 24px;
  margin: 0 auto;

  font-weight: 500;
  color: #474749;
}

@media screen and (max-width: 768px) {
  .modal-email-content {
    margin: 10% auto;
  }
  .controle-modal-content{
    margin: 15% auto;
  }
  .mecanica-modal-content{
    margin: 15% auto;
  }
  .eletronica-modal-content{
    margin: 15% auto;
  }
  .design-modal-content{
    margin: 15% auto;
  }
  .programacao-modal-content{
    margin: 15% auto;
  }
  .sustentabilidade-modal-content{
    margin: 15% auto;
  }

}