.box {
    max-width: 1200px;
    margin: 0 auto;

    text-align: center;
    h1 {
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;

        color: $secondary-light;
    }
}
.container-swiper {
    max-width: 1200px;
    margin: 0 auto;

    padding: 96px 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.swiper-container{
    width: 100%;
    height: 100%;

    position: relative;
}
.swiper-slide{
    max-width: 280px;
    padding: 64px 36px;
    margin: 0 16px;
    border-radius: 16px;

    background: linear-gradient(90.14deg, rgba(219, 85, 0, 0.039) 14.08%, rgba(255, 108, 14, 0.0315) 88.89%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        font-weight: 500;
        font-size: 30px;
        line-height: 50px;
        color: $secondary-dark;
    }
    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: $gray-4
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $primary-dark;

        img {
            width: auto;
        }
    }
}
.link {
    display: inline-block;
    color: $primary-dark;
    background-image: url('/svg/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;

    font-size: 18px;
    
    padding: 16px 16px 16px 40px;

    position: relative;

    
    transition: 1s ease;
    &::after{
        content: '';
        position: absolute;
        display: block;

        top: 75%;
        left: 56px;

        width: 0%;
        height: 2px;
        border-radius: 2px;
        transition: 1s ease;

        background-color: $primary-normal;
    }
    &:hover{
        opacity: 0.8;
        padding-left: 64px;
        background-position: 8px 50%;

        &::after{
            width: 70%;
            background-color: $primary-normal;
        }
    }
}


.button-next{
    position: absolute;
    right: 32px;
    top: 24px;
    
    width: 36px;
    height: 36px;

    cursor: pointer;
    background-image: url('../svg/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.button-prev{
    position: absolute;
    right: 88px;
    top: 24px;
    
    width: 36px;
    height: 36px;

    cursor: pointer;
    background-image: url('../svg/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(180deg);
}
